<%- include('partials/header'); %>

<body>
    <div class="mobile-menu">
        <ul>
            <li>Learn</li>
            <li>Events</li>
            <li>Showcase</li>
            <li>About Us</li>
        </ul>
        <button class="donate-btn"><a href="/materials">Donate</a></button>

        </ul>
    </div>

    <nav class="home-nav">
        <a class="logo" href="/">
            <img src="img/logo.png" alt="">
        </a>
        <div class="mobile-nav">
            <img id="menu" style="height: 2rem;" src="img/hamburger.png" alt="hamburger-menu">
            <img id="cross" style="height: 2rem; display: none;" src="img/cross.png" alt="cross">
        </div>

        <div class="nav-content">
            <p>Learn</p>
            <p>Events</p>
            <p>Showcase</p>
            <p>About Us</p>
            <button class="donate-btn"><a href="/materials">Donate</a></button>
        </div>
    </nav>
    <section class="intro">
        <div class="flower">
            <img id="flower" src="img/flower.png" alt="flower-img">

            <h1 class="animate__animated animate__fadeInUp">Fostering creativity and the arts as a way to inspire
                communities to clean up the environment.</h1>
        </div>


        <div class="brushes">
            <div class="parallax" data-parallax="scroll" data-z-index="1" data-image-src="img/brushes.jpg">
            </div>
            <div class="brushes-content">
                <h1>REDUCE, REUSE, RECYCLE</h1>
                <p>Our Purpose is to get creative with stuff we SAVE from the landfill; deconstruct, sort, clean and
                    store
                    items for use in upcycling, repurposing, fix it and funky art projects with our Processing Center
                    and
                    Junky into Funky program.</p>
            </div>
        </div>

        <!-- <div class="brushes">
            <img id="brushes" class="filter" src="img/brushes.jpg" alt="brushes-img">

            <div class="brushes-content">
                <h1>REDUCE, REUSE, RECYCLE</h1>
                <p>Our Purpose is to get creative with stuff we SAVE from the landfill; deconstruct, sort, clean and
                    store
                    items for use in upcycling, repurposing, fix it and funky art projects with our Processing Center
                    and
                    Junky into Funky program.</p>
            </div>
        </div> -->

        <div class="tree">
            <div class="parallax" data-parallax="scroll" data-z-index="1" data-image-src="img/tree.jpg">
            </div>
            <div class="tree-content">
                <h1>CREATE</h1>
                <p>We aim to create a S.T.E.A.M. (Science, Technology, Engineering, Arts, Math) based Edutainment Center
                    that specializes in A.R.T – Artistic Recycling Technology and by 2025 offer free STEAM based arts
                    and creativity classes for kids.</p>
            </div>
        </div>


        <!-- <div class="materials">
            <img id="materials" class="filter" src="img/materials.png" alt="materials-img">
            <div class="materials-content">
                <h1>REDUCE, REUSE, RECYCLE</h1>
                <p>Our Purpose is to get creative with stuff we SAVE from the landfill; deconstruct, sort, clean and
                    store
                    items for use in upcycling, repurposing, fix it and funky art projects with our Processing Center
                    and
                    Junky into Funky program.</p>
            </div>
        </div> -->

        <section class="events">
            <div class="row">
                <!-- Card 1 -->
                <div class="cardContainer col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="img/event-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Water Bottle Art</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <!-- End card 1 -->

                <!-- Card 2 -->
                <div class="cardContainer col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="img/event-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mug Workshop</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <!-- End card 2 -->

                <!-- Card 3 -->
                <div class="cardContainer col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <img src="img/event-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Toilet Paper Roll Recycling</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <!-- End card 3 -->

            </div>
        </section>

        <footer>
            <div>
                <img src="img/logo-light.png" alt="logo-img">
                <h5>BeCreative Zone</h5>
                <ul>
                    <li>501C3 Documentss Supplied upon request.</li>
                    <li>EIN: 33-0776908</li>
                    <li>Phone: (760) 633-3012</li>
                    <li>Email: info@becreative.zone</li>
                </ul>
            </div>
            <div>
                <h5>Donate</h5>
                <ul>
                    <li>Materials</li>
                    <li>Financial</li>
                </ul>
            </div>
            <div>
                <h5>About Us</h5>
                <ul>
                    <li>Our Mission</li>
                    <li>Contact Us</li>
                </ul>
            </div>

        </footer>



    </section>

    <script>
        // Parallax
        let flower = document.getElementById("flower");
        window.addEventListener('scroll', function () {
            var value = window.scrollY;
            flower.style.top = value * .5 + 'px';
        });

        // Slide in Animation
        $(window).scroll(function () {
            var topofDiv = $(".brushes").offset().top;
            var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
            var divHeight = $(".brushes-content").outerHeight();
            if (scrollBottom > (topofDiv)) {
                $(".brushes-content").addClass("animate__animated animate__slideInRight");
                console.log(scrollBottom);
                console.log(topofDiv);
            }
        });

        // $(window).scroll(function () {
        //     var topofDiv = $(".tree").offset().top;
        //     var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
        //     var divHeight = $(".tree-content").outerHeight();
        //     if (scrollBottom > (topofDiv)) {
        //         $(".tree-content").addClass("animate__animated animate__bounceInUp");
        //     }
        // });

        // Mobile Menu
        $('#menu').on('click', function () {
            $('.mobile-menu').slideToggle();
            $('.mobile-menu').css('display', 'flex');
            $('#menu').css('display', 'none');
            $('#cross').css('display', 'block');
        })

        $('#cross').on('click', function () {
            $('.mobile-menu').slideToggle();
            $('#menu').css('display', 'block');
            $(this).css('display', 'none');
        })
    </script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
</body>

<%- include('partials/footer');%>