<%- include('partials/header'); %>

<body>
    <nav class="home-nav">
        <div class="logo"></div>
        <div class="nav-content">
            <p>Learn</p>
            <p>Events</p>
            <p>Showcase</p>
            <p>About Us</p>
            <a href="/materials">Donate</a>
        </div>
    </nav>
    <section class="intro">
        <div class="flower">
            <h1>Fostering creativity and the arts as a way to inspire communities to clean up the environment.</h1>
        </div>
        <div class="brushes">
            <div class="brushes-content">
                <h1>REDUCE, REUSE, RECYCLE</h1>
                <p>Our Purpose is to get creative with stuff we SAVE from the landfill; deconstruct, sort, clean and
                    store
                    items for use in upcycling, repurposing, fix it and funky art projects with our Processing Center
                    and
                    Junky into Funky program.</p>
            </div>
        </div>
        <div class="tree">
            <div class="tree-content">
                <h1>REDUCE, REUSE, RECYCLE</h1>
                <p>Our Purpose is to get creative with stuff we SAVE from the landfill; deconstruct, sort, clean and
                    store
                    items for use in upcycling, repurposing, fix it and funky art projects with our Processing Center
                    and
                    Junky into Funky program.</p>
            </div>
        </div>
        <div class="materials">
            <div class="materials-content">
                <h1>REDUCE, REUSE, RECYCLE</h1>
                <p>Our Purpose is to get creative with stuff we SAVE from the landfill; deconstruct, sort, clean and
                    store
                    items for use in upcycling, repurposing, fix it and funky art projects with our Processing Center
                    and
                    Junky into Funky program.</p>
            </div>
        </div>
    </section>

    
</body>

<%- include('partials/footer');%>