<%- include('partials/header');%>
<div class="bg">
    </div>
<section id="nav">
    <div class="page-nav">
        <a class="logo" href="/"></a>
        <div class="nav-content">
            <p>Learn</p>
            <p>Events</p>
            <p>Showcase</p>
            <p>About Us</p>
            <button class="btn donate-btn"><a href="/materials">Donate</a></button>
        </div>
    </div>
    <div class="page-title">
        <h5>Donate Materials</h5>
    </div>
</section>

<section class="accepted">
    <div class="accepted-content">
        <p>Please look through the list of materials and make an appointment below to drop off your donation.</p>
        <div class="accepted-bg">Accepted Content</div>
    </div>
</section>


<script>

</script>
<%- include('partials/footer');%>