<%- include('partials/header');%>
<div class="bg">


<section id="nav">
    <div class="page-nav">
        <div class="logo"></div>
        <div class="nav-content">
            <p>Learn</p>
            <p>Events</p>
            <p>Showcase</p>
            <p>About Us</p>
            <a href="/materials">Donate</a>
        </div>
    </div>
    <div class="page-title">
        <h5>Donate Materials</h5>
    </div>
</section>

<section class="accepted">
    <div class="accepted-content">
        <p>Please look through the list of materials and make an appointment below to drop off your donation.</p>
        <div class="accepted-bg">Accepted Content</div>
    </div>


</section>
</div>
<%- include('partials/footer');%>