body {
    font-family: Raleway, Montserrat, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 70rem;
}

h1 {
    font-family: Raleway, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}


/* Home */

.intro p {
    font-weight: bold;
}

.filter {
    filter: sepia(.08) saturate(.9);
}



.home-nav {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(50px);
    height: 100px;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    color: black;
    z-index: 9999;
    
}

.home-nav p {
    text-underline-offset: 8px;
    text-decoration: underline;
}

.donate-btn {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    border-radius: 100px;
    border: black 1px solid;
    width: 100px;
    height: 35px;
    color: black;
    background-color: transparent;
}

.donate-btn a:visited {
    color: inherit;
}

.donate-btn:hover {
    background-color: #8DB596;
    border: rgba(255, 255, 255, 0) 1px solid;
    color: white;
}


.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.nav-content p {
    margin: 0;
}

.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 14%;
    height: 80%;
}

.flower {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

#flower {
    position: absolute;
    z-index: -999;
    top: 0;
    object-fit: cover;
    pointer-events: none;
    max-height: 1440px;
}

h1 {
    font-family: raleway, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0 20%;
    font-size: 25px;
}

.brushes {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

#brushes {
    position: absolute;
    z-index: -9999;
    top: 0;
    width: 100vw;
    /* max-height: 2100px; */

}

.brushes-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    padding-right: 100px;
    text-align: justify;
    color: #6B4400;
}

.tree {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#tree {
    position: absolute;
    z-index: -999;
    top: -70;
    width: 100vw;


}

.tree-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    color: white;
}

.materials {
    height: 80vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#materials {
    position: absolute;
    z-index: -999;
    top: 0;
    width: 100vw;
}

.materials-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    padding-right: 100px;
    color: #000000;
    align-items: flex-end;
}

/* Materials */

#nav {
    position: fixed;
}

.appointment-btn {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    border-radius: 100px;
    border: black 1px solid;
    width: 250px;
    height: 65px;
    color: black;
    background-color: transparent;
    margin: 50px 0;
}

.appointment-btn:hover {
    background-color: #8DB596;
    border: rgba(255, 255, 255, 0) 1px solid;
    color: white;

}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5rem;
}

.col-lg-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-nav {
    background-color: white;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    color: black;

}

.page-nav p {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.bg {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/flower-2.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -9999;


}

.page-title {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.page-title p {
    text-align: center;
    margin: 0;
}

.accepted {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99990;

}

.accepted-content {
    background-color: white;
    /* background-image: url('../img/check_circle_outline-black-18dp.svg') ; */
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    height: 100rem;
    width: 80vw;
    border-radius: 10px;
    padding: 30px 0 0;
    text-align: center;
    margin: 200px auto 200px;
}

.accepted-bg {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: #0194213a;
}

.nonaccepted-bg {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: #fc00001a;
    margin-top: 50px;
}

footer {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20%;

}

footer div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
}

/* Media Query */

@media (max-width: 800px) {

    .home-nav {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-content {
        display: none;
    }

}

@media (max-width: 1000px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        height: 35rem;
        padding: 10rem 0;
    }

    img {
        height: 100%;
    }
    .accepted-content {
        height: 230rem;
    }

}